	<footer>
        <div class="container">
            <!-- <p>© Company 2014</p> -->
        </div>
	</footer>

    <script data-main="js/app" src="js/require.js"></script>
        
    </body>
</html>