<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Project Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="//localhost:35729/livereload.js"></script>
</head>
<body>

    <header>
        <div class="header-primary-bar">
            <div class="container">
                Header primary bar qwe testing
            </div>
        </div>

        <div class="navbar navbar-default header-navbar">

            <div class="container">

                <ul class="nav navbar-nav nav-justified">
                    <li class="active">
                        <a href="#">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Articles
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Specialists
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Organizations
                        </a>
                    </li>
                </ul>

            </div>
        </div>        

    </header>