<% include partials/header %>

	<div class="container">
    	<div class="col-sm-9 content">
    		Home page content
    	</div>
		<% include partials/sidebar %>    	
    </div>

<% include partials/footer %>