/* Libraries */
/* helpers */
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*****************MIXINS*******************************/
/* LESS Mixin for CSS arrow
 *
 * Usage:
 * .arrow(size, color, direction, offset, border-size(optional), border-color(optional));
 *
 * 1. size: you can set pretty much whatever you want. Further tests required for em unit.
 * 2. color: sadly, no way to inherit. Use the same color as the background of your element.
 * 3. direction: the direction of the arrow (top, right, bottom, left).
 * 4. offset: the position on the side (20px, 50%, etc.).
 * 5. border-size (optional): you may have to set it 1px thinner than the actual border to smooth the rendering.
 * 6. border-color (optional): "inherit" as a default value.
 *
 * 
 * Still many things to do and edge cases to fix.
 * It uses the :after pseudo-element to create the arrow. If there is a border, it uses the :before pseudo-element
 *
 * Changelog:
 * - now handles border
 * - "inherit" now supported as a @border-color value
 * - "inherit" now supported as a @color value as long as there is no border involved
 * - dramatically simplified the position
 * - drop-shadow enabled
 * - GitHub repo: https://github.com/HugoGiraudel/LESS-Mixin-for-CSS-arrows
 */
.icon-custom-single {
  display: inline-block;
  vertical-align: middle;
}
.icon-custom-single.icon-arrow-down {
  background: url("../img/arrow-down.png") center center no-repeat;
  width: 14px;
  height: 8px;
}
.icon-custom-single.weather-snow {
  background: url("../img/weather-snow-icon.png") center center no-repeat;
  width: 58px;
  height: 47px;
}
.icon-custom-single.icon-skier-1 {
  background: url("../img/skier-icon.png") center center no-repeat;
  width: 55px;
  height: 47px;
}
.icon-custom-single.icon-skier-2 {
  background: url("../img/skier-icon-2.png") center center no-repeat;
  width: 51px;
  height: 45px;
}
.icon-custom-single.icon-green-round {
  background: url("../img/color-icons.png") 3px -1px no-repeat;
  width: 19px;
  height: 19px;
}
.icon-custom-single.icon-blue-squer {
  background: url("../img/color-icons.png") -24px -1px no-repeat;
  width: 19px;
  height: 19px;
}
.icon-custom-single.icon-red-romb {
  background: url("../img/color-icons.png") -47px 1px no-repeat;
  width: 19px;
  height: 19px;
}
.icon-custom-single.icon-black-romb {
  background: url("../img/color-icons.png") -70px 1px no-repeat;
  width: 19px;
  height: 19px;
}
.icon-custom-single.icon-search-big {
  background: url("../img/icon-search-big.png") center center no-repeat;
  width: 53px;
  height: 50px;
}
.icon-custom-single.icon-chevron-right {
  background: url("../img/chevron-right.png") center center no-repeat;
  width: 9px;
  height: 13px;
}
/* wireframe variabes */
/* modular colors */
/*

	All text fonts definition and importing goes here 

	for ex.

	@font-primary: Arial, Verdana;

	header {
		font-family: @font-primary;
	}

*/
/* media variables */
body {
  padding-bottom: 6000px;
}
/*****************************************************************
						Media - mobile
*******************************************************************/
/*****************************************************************
						Media - tablet
*******************************************************************/
/*****************************************************************
						Media - desktop
*******************************************************************/
/*****************************************************************
						Media - large desktop
*******************************************************************/
/* Partials */
header {
  margin-bottom: 30px;
}
header .container .nav li {
  float: none;
}
footer .container {
  padding: 30px 0;
}
/* layouts */
/* Home page specific styles */
/*****************************************************************
						Media - mobile
*******************************************************************/
/*****************************************************************
						Media - tablet
*******************************************************************/
/*****************************************************************
						Media - desktop
*******************************************************************/
/*****************************************************************
						Media - large desktop
*******************************************************************/
/* About page specific styles */
/*****************************************************************
						Media - mobile
*******************************************************************/
/*****************************************************************
						Media - tablet
*******************************************************************/
/*****************************************************************
						Media - desktop
*******************************************************************/
/*****************************************************************
						Media - large desktop
*******************************************************************/
